    * {
        margin: 0;
        padding: 0;
    }
    
    ul,
    ol {
        list-style: none;
    }
    
    a,
    a:hover,
    a:focus {
        text-decoration: none;
    }
    
    img {
        vertical-align: middle;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
    }
    /* common css end */
    
    .slider-area {
        background: url("../images/bg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 135px;
        padding-bottom: 245px;
        position: relative;
        z-index: 1;
    }
    
    .slider-area .slider-overlay {
        width: 100%;
        height: 100%;
        background: #0b5999;
        opacity: 0.7;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
    
    .slider-area p.welcome {
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        color: #ff9d33;
        text-transform: uppercase;
    }
    
    .slider-area h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 45px;
        font-weight: 700;
        color: #fff;
    }
    
    .slider-area p {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        color: #fff;
    }
    
    .slider-area a.button {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        background: #ff9d33;
        padding: 22px 30px;
        border-radius: 5px;
        margin-top: 30px;
        display: inline-block;
    }
    
    .slider-area .play {
        display: inline-block;
        float: right;
        color: #ff9d33;
        background: #fff;
        border-radius: 50%;
        position: relative;
    }
    
    .slider-area .play i {
        width: 50px;
        height: 50px;
        font-size: 25px;
        line-height: 50px;
        text-align: center;
        z-index: 3;
    }
    
    .slider-area .play::after {
        content: "";
        position: absolute;
        border: 2px solid #ff9d33;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        border-radius: 50%;
        animation: animate 2s linear infinite;
        z-index: -1;
        opacity: 0;
    }
    
    .slider-area .play::after {
        animation-delay: 0.5s;
    }
    
    @keyframes animate {
        0% {
            transform: scale(0.5);
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(1.5);
        }
    }
    /* Slider area end */
    
    .about {
        background: url("../images/travel/dotted_map.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 120px;
    }
    
    .about form .form-group {
        margin-bottom: 30px;
    }
    
    .about-tab {
        margin-top: -79px;
        z-index: 10;
        position: absolute;
        background: #fff;
        width: 86%;
        padding: 0 10px;
        margin-bottom: 120px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .tab-content {
        margin: 0 30px;
    }
    
    .about form select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        position: relative;
    }
    
    .about form .form-group::after {
        position: absolute;
        content: "\f107";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #014073;
        right: 20px;
        top: 25%;
    }
    
    .about form .des::before {
        position: absolute;
        content: "\f3c5";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #014073;
        left: 13px;
        top: 22%;
        z-index: 5;
    }
    
    .about form .hotel::before {
        position: absolute;
        content: "\f236";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #014073;
        left: 13px;
        top: 22%;
        z-index: 5;
    }
    
    .about form .in::before {
        position: absolute;
        content: "\f073";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #014073;
        left: 13px;
        top: 22%;
        z-index: 5;
    }
    
    .about form .out::before {
        position: absolute;
        content: "\f073";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #014073;
        left: 13px;
        top: 22%;
        z-index: 5;
    }
    
    .about form .form-control {
        padding-left: 30px;
        color: #014073;
    }
    /* about content */
    
    .about-content {
        padding-top: 250px;
    }
    
    .about-content .content p.heading {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        color: #014073;
    }
    
    .about-content .content h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 34px;
        font-weight: 700;
        color: #014073;
    }
    
    .about-content .content h3 span {
        color: #ff9d33;
    }
    
    .about-content .content p.content {
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        color: #777c87;
        font-weight: 200;
    }
    
    .about-content .content a {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        color: #fff;
        font-weight: 400;
        text-transform: uppercase;
        background: #ff9d33;
        padding: 15px 30px;
        border-radius: 5px;
        display: inline-block;
        margin-top: 45px;
    }
    /* End about area */
    
    .plan {
        background: url("../images/customer/customer_bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        /* padding-top: 90px; */
    }
    
    .plan .plan-content {
        padding-top: 100px;
    }
    
    .plan .plan-content p.heading {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        color: #014073;
    }
    
    .plan .plan-content h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 34px;
        font-weight: 700;
        color: #014073;
    }
    
    .plan .plan-content h3 span {
        color: #ff9d33;
    }
    
    .plan .plan-content p.content {
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        color: #777c87;
        font-weight: 200;
        line-height: 30px;
        padding-right: 65px;
    }
    
    .plan .plan-content .plan-icon {
        padding-top: 210px;
        padding-bottom: 187px;
    }
    
    .plan .plan-content .plan-icon .single-icon {
        display: inline-block;
        width: 90px;
        height: 90px;
        background: #014073;
        border-radius: 50%;
        margin: 0 12px;
    }
    
    .plan .plan-content .plan-icon .single-icon i {
        text-align: center;
        color: #fff;
        font-size: 25px;
        margin-left: 50%;
        margin-top: 23%;
        transform: translateX(-50%);
    }
    
    .plan .plan-content .plan-icon .single-icon p {
        color: #fff;
        display: inline-block;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    /* End plan area */